<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UICollectionViewTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C4A28021D29F74900A8EA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C4A281B1D29F74900A8EA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C4A28261D29F74A00A8EA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
