<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabBarControllerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22C4EFCA1C72CBB7005027E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22C4EFE31C72CBB8005027E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22C4EFEE1C72CBB8005027E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
